Repository WFCD/warframe-items: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, npm test, prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  911ab1c21a7f7b0dea8326a500815005b93635bb
Due: none

Notes added by 'git notes add'
  cabca4d750d4527396065338c5f14de65a2a530d
Due: none

Notes added by 'git notes add'
  67cc35a0ebcd56b2c9ca428e81e66a7be855f0e7
Due: none

Notes added by 'git notes add'
  fa50a935b3244538d16cbe32fac69a0d65c56317
Due: none

Notes added by 'git notes add'
  bf3510a80fa94b3e10f08b7316ee73ce1270812d
Due: none

Notes added by 'git notes add'
  260c4e9b428080c9333fc4b54168eac4fb304d74
Due: none

Notes added by 'git notes add'
  0a0239c790e409097efc596bd763b6ed8d0f840e
Due: none

Notes added by 'git notes add'
  d6916b67d156c3988c53d283f9726e3cc443c4d6
Due: none

Notes added by 'git notes add'
  dbf9c6eec771c241f552b7298d542f1d54b3b36b
Due: none

Notes added by 'git notes add'
  5bd7dd7dbf56060ead684c28b4bf9371f349a6a4
Due: none

fix(dev-exp): align package versions for peerdeps install
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

ci: regen package lock
  package-lock.json
Due: prettier --write, npm dedupe, npx sort-package-json

fix: types for newer items
  index.d.ts
  test/lookup.mjs
Due: none

fix: more types
  config/itemTypes.json
  data/img/baro-ki'teer-floof-fa4eebf00a.png
  data/img/inaros-floof-a15db1d10a.png
  data/img/tennocon-riftguard-emote-0b2cc3599b.png
  index.d.ts
  test/lookup.mjs
Due: prettier --write

fix(dev-exp): align package versions for peerdeps install (#713)
  config/itemTypes.json
  data/img/baro-ki'teer-floof-fa4eebf00a.png
  data/img/inaros-floof-a15db1d10a.png
  data/img/tennocon-riftguard-emote-0b2cc3599b.png
  index.d.ts
  package-lock.json
  package.json
  test/lookup.mjs
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  eea1d78b05e9bdf2e25445ebeeb17b95545ab45f
Due: none

Path conditions:
  eslint --cache --fix: any of: *.js
  npm test: any of: *.js
  prettier --write: (any of: package*.json) or (any of: *.{json,yml,yaml})
  npm dedupe: any of: package*.json
  npx sort-package-json: any of: package*.json
