Repository WFCD/warframe-items: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, npm test, prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  e5eecaf95512e3b1a61ee3b33c95c477138b7431
Due: none

Notes added by 'git notes add'
  569612bbf5e4c246c30a87e2c42965d28133af41
Due: none

fix: `Loaned Weapons` being marked as a `Rifle` instead of `Misc`
  config/itemTypes.json
Due: prettier --write

fix: `Loaned Weapons` being marked as a `Rifle` instead of `Misc` (#682)
  config/itemTypes.json
Due: prettier --write

Notes added by 'git notes add'
  96f74ff6e191a0a5e34ce3fb6f86ecbe1ca5a49e
Due: none

Notes added by 'git notes add'
  686c35fffc972cb583f1d420d1cf00343d626fd0
Due: none

Notes added by 'git notes add'
  c23aae92517c3fb649f10fe1e42d98126a62bb05
Due: none

Notes added by 'git notes add'
  fb370cd02779d124e9582b54ab08e9b927f7a186
Due: none

Notes added by 'git notes add'
  5932811168aaab8293403246b875b4f41f5723d7
Due: none

Notes added by 'git notes add'
  7895f95a80e117fd01a04c13246feab54fff4d03
Due: none

Notes added by 'git notes add'
  1dd9b98a3cd1ae7a36f9e35b31e72544b85541af
Due: none

Notes added by 'git notes add'
  26208510615cd88016f951117ce4b0e8d497e71c
Due: none

fix(items): new items
  package-lock.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  c6ac2c794b4f415a4cafdcf019fdb7e5813233a0
Due: none

Path conditions:
  eslint --cache --fix: any of: *.js
  npm test: any of: *.js
  prettier --write: (any of: package*.json) or (any of: *.{json,yml,yaml})
  npm dedupe: any of: package*.json
  npx sort-package-json: any of: package*.json
