Repository WFCD/warframe-items: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, npm test, prettier --write, npm dedupe, npx sort-package-json

chore: group dependabot updates
  .github/dependabot.yml
Due: prettier --write

Notes added by 'git notes add'
  e933515d93e5c56bd7598c8986f4ca8be404474e
Due: none

ci: linting
  build/parser.ts
  build/progress.ts
  build/types/shared.ts
  build/wikia/WikiaDataScraper.ts
  package-lock.json
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

ci: downgrade typescript-json-schema
  package-lock.json
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

fix: ensure i18n objects are shallow copied and add tests for locale support
  index.js
  index.mjs
  test/index.spec.mjs
Due: eslint --cache --fix, npm test

fix: ensure i18n objects are shallow copied (#901)
  index.js
  index.mjs
  test/index.spec.mjs
Due: eslint --cache --fix, npm test

Notes added by 'git notes add'
  92001e147104521f35eb98ba0d47435bfa6b91f1
Due: none

fix: preserve i18n and versions in filter and map methods
  index.js
  index.mjs
  test/index.spec.mjs
Due: eslint --cache --fix, npm test

fix: enhance filter and map methods to preserve i18n entries
  index.js
  index.mjs
  test/index.spec.mjs
Due: eslint --cache --fix, npm test

fix: rollback map function
  index.js
  index.mjs
  package-lock.json
  test/index.spec.mjs
Due: eslint --cache --fix, npm test, prettier --write, npm dedupe, npx sort-package-json

fix: preserve i18n and versions in filter method (#900)
  index.js
  index.mjs
  package-lock.json
  test/index.spec.mjs
Due: eslint --cache --fix, npm test, prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  002a1d240de64e4f706b73467ad38d8fcaee6a34
Due: none

Notes added by 'git notes add'
  4ecafd48d0b8603e8a9130d39342414b4175a2f1
Due: none

Notes added by 'git notes add'
  f2c2126e1b65f67ce0ac8672619d60ecd86871b8
Due: none

Notes added by 'git notes add'
  fec29417471a4ecfe25282a36cfd7583eacad271
Due: none

Path conditions:
  eslint --cache --fix: any of: *.js
  npm test: any of: *.js
  prettier --write: (any of: package*.json) or (any of: *.{json,yml,yaml})
  npm dedupe: any of: package*.json
  npx sort-package-json: any of: package*.json
