Repository WFCD/warframe-items: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, npm test, prettier --write, npm dedupe, npx sort-package-json

.lintstagedrc.yml:

'*.js':
  - eslint --cache --fix
  - npm test
package*.json:
  - prettier --write
  - npm dedupe
  - npx sort-package-json
'*.{json,yml,yaml}':
  - prettier --write

feat: artifact upload step in build and static workflow (#808)
  .github/workflows/build.yaml
  .github/workflows/static.yaml
Due: prettier --write

Notes added by 'git notes add'
  0001ae397fc2480b94b17c18f72768b4b9ed8621
Due: none

fix(items): new items
  package-lock.json
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  ccb0dcc6a0c21bf8381426059e5050a7e52bb763
Due: none

fix(items): new items
  package-lock.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  4f85eca01fd49f27a21b6369ee9b70a425964d0d
Due: none

Notes added by 'git notes add'
  78462c05761a185b034ab55623df5f58dc7f1a33
Due: none

Notes added by 'git notes add'
  070e867ea3d66179f9b3dd9eeb357e6769ad4816
Due: none

Notes added by 'git notes add'
  09e5e537fc3f95f31e1e6519fc7185f3907648ad
Due: none

Notes added by 'git notes add'
  aa257a01b156255c5d9c67c895221006ab088314
Due: none
