Repository WFCD/warframe-items: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, npm test, prettier --write, npm dedupe, npx sort-package-json

.lintstagedrc.yml:

'*.js':
  - eslint --cache --fix
  - npm test
package*.json:
  - prettier --write
  - npm dedupe
  - npx sort-package-json
'*.{json,yml,yaml}':
  - prettier --write

ci: permissions for oidc
  .github/workflows/release.yaml
Due: prettier --write

fix: provenance & oidc (#787)
  .github/workflows/release.yaml
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  1a8eb6682587dd3756d657dbb38b3ad776951fd5
Due: none

fix: just triggering release
  package-lock.json
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  fa3bc5c8414b6f4a6d7c1726965509050881f951
Due: none

Notes added by 'git notes add'
  8776c92250a6ac63b78b9cf3e4d722b1a5eebfdf
Due: none

Notes added by 'git notes add'
  c93f0c1d348de22ab32b74d5e2c1048c329fc508
Due: none

Notes added by 'git notes add'
  2ae6c33625487788961d68c2231e1d2a99bd393d
Due: none

fix(items): new items
  package-lock.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  104cdb1c33b42f0fe679f4bbac37895ab5717e4f
Due: none

Notes added by 'git notes add'
  b5f2d96ba4040d85bc3738345fba05381e6f4b74
Due: none
