Repository WFCD/warframe-items: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, npm test, prettier --write, npm dedupe, npx sort-package-json

.lintstagedrc.yml:

'*.js':
  - eslint --cache --fix
  - npm test
package*.json:
  - prettier --write
  - npm dedupe
  - npx sort-package-json
'*.{json,yml,yaml}':
  - prettier --write

fix(items): new items
  data/cache/.export.json
  data/cache/.images.json
  data/img/BaroEvilEphemeraB.png
  data/img/EvilBaroSugatra.png
  data/json/Melee.json
  data/json/Misc.json
  data/json/Mods.json
  data/json/Pets.json
  data/json/Resources.json
  data/json/Skins.json
  data/json/Warframes.json
  data/json/i18n/de.json
  data/json/i18n/es.json
  data/json/i18n/fr.json
  data/json/i18n/it.json
  data/json/i18n/ja.json
  data/json/i18n/ko.json
  data/json/i18n/pl.json
  data/json/i18n/pt.json
  data/json/i18n/ru.json
  data/json/i18n/tc.json
  data/json/i18n/th.json
  data/json/i18n/tr.json
  data/json/i18n/uk.json
  data/json/i18n/zh.json
  data/warnings.json
  package-lock.json
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

fix(items): new items
  data/json/Melee.json
  data/json/i18n/de.json
  data/json/i18n/es.json
  data/json/i18n/fr.json
  data/json/i18n/it.json
  data/json/i18n/ja.json
  data/json/i18n/ko.json
  data/json/i18n/pl.json
  data/json/i18n/pt.json
  data/json/i18n/ru.json
  data/json/i18n/tc.json
  data/json/i18n/th.json
  data/json/i18n/tr.json
  data/json/i18n/uk.json
  data/json/i18n/zh.json
  data/warnings.json
Due: prettier --write

Notes added by 'git notes add'
  4756c843115a8eb84a1c7a9961fc1d770fb92118
Due: none

fix(items): new items
  data/cache/.export.json
  data/json/Melee.json
  data/json/i18n/de.json
  data/json/i18n/es.json
  data/json/i18n/fr.json
  data/json/i18n/it.json
  data/json/i18n/ja.json
  data/json/i18n/ko.json
  data/json/i18n/pl.json
  data/json/i18n/pt.json
  data/json/i18n/ru.json
  data/json/i18n/tc.json
  data/json/i18n/th.json
  data/json/i18n/tr.json
  data/json/i18n/uk.json
  data/json/i18n/zh.json
  data/warnings.json
Due: prettier --write

Notes added by 'git notes add'
  44c0bd82cf4b08f14276f2496bac0ed2aaa31f1f
Due: none

fix(items): new items
  data/cache/.export.json
  data/json/Components.json
  data/json/Honoria.json
  data/json/Misc.json
  data/json/Mods.json
  data/json/Relics.json
  data/json/Resources.json
  data/json/i18n/de.json
  data/json/i18n/es.json
  data/json/i18n/fr.json
  data/json/i18n/it.json
  data/json/i18n/ja.json
  data/json/i18n/ko.json
  data/json/i18n/pl.json
  data/json/i18n/pt.json
  data/json/i18n/ru.json
  data/json/i18n/tc.json
  data/json/i18n/th.json
  data/json/i18n/tr.json
  data/json/i18n/uk.json
  data/json/i18n/zh.json
  data/warnings.json
Due: prettier --write

Notes added by 'git notes add'
  462ce09b0c2b276badde8299017becb90f05d620
Due: none

fix(items): new items
  data/json/Arch-Melee.json
  data/json/Components.json
  data/json/Melee.json
  data/json/Misc.json
  data/json/Mods.json
  data/json/Primary.json
  data/json/Resources.json
  data/json/Secondary.json
  data/json/i18n/de.json
  data/json/i18n/es.json
  data/json/i18n/fr.json
  data/json/i18n/it.json
  data/json/i18n/ja.json
  data/json/i18n/ko.json
  data/json/i18n/pl.json
  data/json/i18n/pt.json
  data/json/i18n/ru.json
  data/json/i18n/tc.json
  data/json/i18n/th.json
  data/json/i18n/tr.json
  data/json/i18n/uk.json
  data/json/i18n/zh.json
  data/warnings.json
Due: prettier --write

fix(items): new items
  data/json/Misc.json
  data/json/Resources.json
  data/json/i18n/de.json
  data/json/i18n/es.json
  data/json/i18n/fr.json
  data/json/i18n/it.json
  data/json/i18n/ja.json
  data/json/i18n/ko.json
  data/json/i18n/pl.json
  data/json/i18n/pt.json
  data/json/i18n/ru.json
  data/json/i18n/tc.json
  data/json/i18n/th.json
  data/json/i18n/tr.json
  data/json/i18n/uk.json
  data/json/i18n/zh.json
Due: prettier --write

Notes added by 'git notes add'
  50fec05d5cd1b68d0e7c2947a6a736bf586183c8
Due: none

fix(items): new items
  README.md
  data/cache/.export.json
  data/json/Misc.json
  data/json/Mods.json
  data/json/Primary.json
  data/json/Relics.json
  data/json/Resources.json
  data/json/Secondary.json
  data/json/i18n/de.json
  data/json/i18n/es.json
  data/json/i18n/fr.json
  data/json/i18n/it.json
  data/json/i18n/ja.json
  data/json/i18n/ko.json
  data/json/i18n/pl.json
  data/json/i18n/pt.json
  data/json/i18n/ru.json
  data/json/i18n/tc.json
  data/json/i18n/th.json
  data/json/i18n/tr.json
  data/json/i18n/uk.json
  data/json/i18n/zh.json
  package-lock.json
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

fix(items): new items
  data/json/Misc.json
  data/json/Resources.json
  data/json/Skins.json
  data/json/i18n/de.json
  data/json/i18n/es.json
  data/json/i18n/fr.json
  data/json/i18n/it.json
  data/json/i18n/ja.json
  data/json/i18n/ko.json
  data/json/i18n/pl.json
  data/json/i18n/pt.json
  data/json/i18n/ru.json
  data/json/i18n/tc.json
  data/json/i18n/th.json
  data/json/i18n/tr.json
  data/json/i18n/uk.json
  data/json/i18n/zh.json
Due: prettier --write

Notes added by 'git notes add'
  db264cacbf7081598b48505e71805956cf3feef2
Due: none

fix(items): new items
  data/cache/.export.json
  data/json/Misc.json
  data/json/Resources.json
  data/json/Skins.json
  data/json/i18n/de.json
  data/json/i18n/es.json
  data/json/i18n/fr.json
  data/json/i18n/it.json
  data/json/i18n/ja.json
  data/json/i18n/ko.json
  data/json/i18n/pl.json
  data/json/i18n/pt.json
  data/json/i18n/ru.json
  data/json/i18n/tc.json
  data/json/i18n/th.json
  data/json/i18n/tr.json
  data/json/i18n/uk.json
  data/json/i18n/zh.json
Due: prettier --write

Notes added by 'git notes add'
  6593d9a99e836f146bc9fcec84734bb42b212f59
Due: none

fix(items): new items
  data/cache/.export.json
  data/cache/.images.json
  data/img/Aztecross.png
  data/img/CitrinePrime.png
  data/img/Ironmouse.png
  data/img/Movember2026MasterMustacheFrame.png
  data/img/Movember2026ShopkeepMustacheFrame.png
  data/img/Movember2026SiriusOrionDisplay.png
  data/img/Movember2026TuskerMustacheFrame.png
  data/img/Narin.png
  data/img/VesselFemaleGlyph.png
  data/img/VesselMaleGlyph.png
  data/img/XiaoGuang.png
  data/json/Gear.json
  data/json/Glyphs.json
  data/json/Melee.json
  data/json/Misc.json
  data/json/Mods.json
  data/json/Pets.json
  data/json/Resources.json
  data/json/Skins.json
  data/json/i18n/de.json
  data/json/i18n/es.json
  data/json/i18n/fr.json
  data/json/i18n/it.json
  data/json/i18n/ja.json
  data/json/i18n/ko.json
  data/json/i18n/pl.json
  data/json/i18n/pt.json
  data/json/i18n/ru.json
  data/json/i18n/tc.json
  data/json/i18n/th.json
  data/json/i18n/tr.json
  data/json/i18n/uk.json
  data/json/i18n/zh.json
Due: prettier --write

Notes added by 'git notes add'
  c4396265fc41956f1ec08407d699dfe1c8fe5842
Due: none

fix(items): new items
  README.md
  data/cache/.export.json
  data/json/Gear.json
  data/json/Honoria.json
  data/json/Misc.json
  data/json/Resources.json
  data/json/i18n/de.json
  data/json/i18n/es.json
  data/json/i18n/fr.json
  data/json/i18n/it.json
  data/json/i18n/ja.json
  data/json/i18n/ko.json
  data/json/i18n/pl.json
  data/json/i18n/pt.json
  data/json/i18n/ru.json
  data/json/i18n/tc.json
  data/json/i18n/th.json
  data/json/i18n/tr.json
  data/json/i18n/uk.json
  data/json/i18n/zh.json
  package-lock.json
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  1b1c5cf6848f9ba2266a9d1e91b9460dbc6cc716
Due: none

Notes added by 'git notes add'
  0aeea4f6ae8e4cf177ecd79e4c5e815abd805a88
Due: none

fix(items): new items
  data/cache/.export.json
  data/json/Misc.json
  data/json/Resources.json
  data/json/i18n/de.json
  data/json/i18n/es.json
  data/json/i18n/fr.json
  data/json/i18n/it.json
  data/json/i18n/ja.json
  data/json/i18n/ko.json
  data/json/i18n/pl.json
  data/json/i18n/pt.json
  data/json/i18n/ru.json
  data/json/i18n/tc.json
  data/json/i18n/th.json
  data/json/i18n/tr.json
  data/json/i18n/uk.json
  data/json/i18n/zh.json
Due: prettier --write

Notes added by 'git notes add'
  1b6a67c86b185487766d3b7e647be53e3198116d
Due: none

fix(items): new items
  data/cache/.export.json
  data/cache/.images.json
  data/img/DevourerSongItemStoreIcon.png
  data/json/Melee.json
  data/json/Misc.json
  data/json/Pets.json
  data/json/Resources.json
  data/json/Sigils.json
  data/json/Warframes.json
  data/json/i18n/de.json
  data/json/i18n/es.json
  data/json/i18n/fr.json
  data/json/i18n/it.json
  data/json/i18n/ja.json
  data/json/i18n/ko.json
  data/json/i18n/pl.json
  data/json/i18n/pt.json
  data/json/i18n/ru.json
  data/json/i18n/tc.json
  data/json/i18n/th.json
  data/json/i18n/tr.json
  data/json/i18n/uk.json
  data/json/i18n/zh.json
  data/warnings.json
Due: prettier --write

Notes added by 'git notes add'
  a31ccf8678ce348e04595ec343684f2e438bf650
Due: none

fix(items): new items
  data/cache/.export.json
  data/json/Melee.json
  data/json/Misc.json
  data/json/Resources.json
  data/json/i18n/de.json
  data/json/i18n/es.json
  data/json/i18n/fr.json
  data/json/i18n/it.json
  data/json/i18n/ja.json
  data/json/i18n/ko.json
  data/json/i18n/pl.json
  data/json/i18n/pt.json
  data/json/i18n/ru.json
  data/json/i18n/tc.json
  data/json/i18n/th.json
  data/json/i18n/tr.json
  data/json/i18n/uk.json
  data/json/i18n/zh.json
  data/warnings.json
Due: prettier --write

Notes added by 'git notes add'
  caf2644fa18054c2c2c3e52fbd61045118f396c6
Due: none

fix(items): new items
  package-lock.json
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

fix(items): new items
  data/json/Gear.json
  data/json/Melee.json
  data/json/Misc.json
  data/json/Resources.json
  data/json/i18n/de.json
  data/json/i18n/es.json
  data/json/i18n/fr.json
  data/json/i18n/it.json
  data/json/i18n/ja.json
  data/json/i18n/ko.json
  data/json/i18n/pl.json
  data/json/i18n/pt.json
  data/json/i18n/ru.json
  data/json/i18n/tc.json
  data/json/i18n/th.json
  data/json/i18n/tr.json
  data/json/i18n/uk.json
  data/json/i18n/zh.json
  data/warnings.json
Due: prettier --write

Notes added by 'git notes add'
  34365caa8e4f19e9b051b85e7cb842cc1b97cfb9
Due: none

fix(items): new items
  data/json/Gear.json
  data/json/Misc.json
  data/json/Resources.json
  data/json/i18n/de.json
  data/json/i18n/es.json
  data/json/i18n/fr.json
  data/json/i18n/it.json
  data/json/i18n/ja.json
  data/json/i18n/ko.json
  data/json/i18n/pl.json
  data/json/i18n/pt.json
  data/json/i18n/ru.json
  data/json/i18n/tc.json
  data/json/i18n/th.json
  data/json/i18n/tr.json
  data/json/i18n/uk.json
  data/json/i18n/zh.json
Due: prettier --write

fix(items): new items
  data/json/Resources.json
  data/json/i18n/de.json
  data/json/i18n/es.json
  data/json/i18n/fr.json
  data/json/i18n/it.json
  data/json/i18n/ja.json
  data/json/i18n/ko.json
  data/json/i18n/pl.json
  data/json/i18n/pt.json
  data/json/i18n/ru.json
  data/json/i18n/tc.json
  data/json/i18n/th.json
  data/json/i18n/tr.json
  data/json/i18n/uk.json
  data/json/i18n/zh.json
Due: prettier --write

Notes added by 'git notes add'
  b1fa35ce065e676f807f24343119708c6e4aff48
Due: none

fix(items): new items
  data/json/Components.json
  data/json/Misc.json
  data/json/Resources.json
  data/json/Skins.json
  data/json/i18n/de.json
  data/json/i18n/es.json
  data/json/i18n/fr.json
  data/json/i18n/it.json
  data/json/i18n/ja.json
  data/json/i18n/ko.json
  data/json/i18n/pl.json
  data/json/i18n/pt.json
  data/json/i18n/ru.json
  data/json/i18n/tc.json
  data/json/i18n/th.json
  data/json/i18n/tr.json
  data/json/i18n/uk.json
  data/json/i18n/zh.json
Due: prettier --write

Notes added by 'git notes add'
  554cca911441dc7dbf5559bf1263f1402a8660b0
Due: none

fix(build): update vault scraper for wiki tabber layout
  build/wikia/scrapers/VaultScraper.ts
Due: none

fix(build): update vault scraper for wiki tabber layout (#1010)
  build/wikia/scrapers/VaultScraper.ts
Due: none

fix(items): new items
  README.md
  data/cache/.export.json
  data/json/Gear.json
  data/json/Melee.json
  data/json/Misc.json
  data/json/Pets.json
  data/json/Resources.json
  data/json/i18n/de.json
  data/json/i18n/es.json
  data/json/i18n/fr.json
  data/json/i18n/it.json
  data/json/i18n/ja.json
  data/json/i18n/ko.json
  data/json/i18n/pl.json
  data/json/i18n/pt.json
  data/json/i18n/ru.json
  data/json/i18n/tc.json
  data/json/i18n/th.json
  data/json/i18n/tr.json
  data/json/i18n/uk.json
  data/json/i18n/zh.json
  package-lock.json
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json
