Repository WFCD/warframe-items: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, npm test, prettier --write, npm dedupe, npx sort-package-json

.lintstagedrc.yml:

'*.js':
  - eslint --cache --fix
  - npm test
package*.json:
  - prettier --write
  - npm dedupe
  - npx sort-package-json
'*.{json,yml,yaml}':
  - prettier --write

Notes added by 'git notes add'
  c5933afe369061f52ab549dbf558ba1286ac5963
Due: none

fix: add specific weapon type classifications
  config/itemTypes.json
  index.d.ts
Due: prettier --write

fix(items): new items
  package-lock.json
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  179b3ba17b2c256c03e62b859e75df4f405cf2a0
Due: none

Notes added by 'git notes add'
  239344b0becb5c1eaee6b411491679d1fd0b0855
Due: none

Notes added by 'git notes add'
  af62593cda6036f18e8a179e4cd6bea3a8b42933
Due: none

Notes added by 'git notes add'
  f3910a15ba958b1c338980d559865d8037a51dba
Due: none

Notes added by 'git notes add'
  e6b1d6a41055bb91e43a4dd8dc65df9993128fe7
Due: none

Notes added by 'git notes add'
  f29a6c6b9ed41e4a45334dfdf0c9f2ff653a97dd
Due: none

feat: artifact upload step in build and static workflow
  .github/workflows/build.yaml
  .github/workflows/static.yaml
Due: prettier --write

Notes added by 'git notes add'
  8fce09e8b2b8afe38eb177e2b074230dfe4cda5d
Due: none

feat: artifact upload step in build and static workflow (#808)
  .github/workflows/build.yaml
  .github/workflows/static.yaml
Due: prettier --write
