Repository WFCD/warframe-items: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, npm test, prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  8b4ee802cd7a9b660f275224ae75b5d67aa44836
Due: none

fix: further cleanup to help with NTFS filename restrictions
  build/build.ts
  build/parser.ts
  data/cache/.export.json
  data/cache/.images.json
  package-lock.json
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

chore: this only for test
  build/build.ts
Due: none

chore: holy merge wtf
  data/cache/.export.json
Due: prettier --write

Notes added by 'git notes add'
  9723633a149ec3c56c7ff1580bc07512b71b951f
Due: none

Notes added by 'git notes add'
  5a9fab96bab96be6d580da5113ab7a2a7d1d848a
Due: none

Notes added by 'git notes add'
  737716993a0174bf78d876b0acde5f0326764c65
Due: none

Notes added by 'git notes add'
  d7857281d579e4bb9a3972b6f6c413a5760ecb47
Due: none

fix: improved lua to json conversion
  build/wikia/WikiaDataScraper.ts
Due: none

chore: update `JSON.lua`
  build/wikia/JSON.lua
Due: none

chore: add wasmoon to remove the need to have lua installed
  build/wikia/WikiaDataScraper.ts
  package-lock.json
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

chore: update README
  README.md
Due: none

chore: close the lua engine on final
  build/wikia/WikiaDataScraper.ts
Due: none

fix: improved lua to json conversion (#909)
  README.md
  build/wikia/JSON.lua
  build/wikia/WikiaDataScraper.ts
  package-lock.json
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  c7bbf59ef050e69503af77fd13ce03b166d2b1ae
Due: none

Path conditions:
  eslint --cache --fix: any of: *.js
  npm test: any of: *.js
  prettier --write: (any of: package*.json) or (any of: *.{json,yml,yaml})
  npm dedupe: any of: package*.json
  npx sort-package-json: any of: package*.json
