Repository WFCD/warframe-items: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, npm test, prettier --write, npm dedupe, npx sort-package-json

.lintstagedrc.yml:

'*.js':
  - eslint --cache --fix
  - npm test
package*.json:
  - prettier --write
  - npm dedupe
  - npx sort-package-json
'*.{json,yml,yaml}':
  - prettier --write

Notes added by 'git notes add'
  0b1ebbeef45b5f0a0f098eeb76654f6c7a9cd593
Due: none

ci: misc updates
  build/progress.mjs
  index.d.ts
  package-lock.json
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

fix: incorrectly trdable fish
  config/itemTypes.json
Due: prettier --write

fix: guarantee uniqueName & name on Arcane
  index.d.ts
Due: none

Notes added by 'git notes add'
  65e0a92540d41cf37751eac0a9cfab7717f08ca2
Due: none

fix(items): new items
  package-lock.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  02ab41081861c32fde91b678496ce01b4e2b9cfe
Due: none

Notes added by 'git notes add'
  21925b27e786b92334d95380dc18243b1b609531
Due: none

Notes added by 'git notes add'
  d1a192fe0ca6de47b018c1086a2ba5db0d979e0a
Due: none

Notes added by 'git notes add'
  4e7e9a4251ff8410dcb08d1488062492945a562c
Due: none

Notes added by 'git notes add'
  5aa8c2e2e73de91488c1592ab5335b5a304ea7bb
Due: none

Notes added by 'git notes add'
  498ca833cb6be1ba12452a3cb57af7823ea56c6a
Due: none
