Repository WFCD/warframe-items: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, npm test, prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  f4e1b12fbdf0f4fdfcc4d4a6be240096ad68f8b0
Due: none

Notes added by 'git notes add'
  6b98a3da5d90c9262cd9dabe11e89c6a3680fb47
Due: none

Notes added by 'git notes add'
  86f1b48d37e36a720b900f771b566cb03f3f3e57
Due: none

Notes added by 'git notes add'
  e93bd3fabfcc55f0bdd7748ab943c350496f457e
Due: none

Notes added by 'git notes add'
  9bf669bb4f57f42a43ad203ec32d2205cf1e3e15
Due: none

Notes added by 'git notes add'
  07c24f8df5fa6c37a4b4c73a9c43b1dbddbdd1e5
Due: none

Notes added by 'git notes add'
  2206a1ed291555e8cc57d304300f90ff16590890
Due: none

Notes added by 'git notes add'
  466e4e599fb985c35f956e2d94ce098e8121a9c7
Due: none

Notes added by 'git notes add'
  d2bf8faa20b936ec494ad9324c577f27782853db
Due: none

fix: handle empty tag strings
  build/parser.mjs
  package-lock.json
  package.json
  test/lookup.mjs
Due: prettier --write, npm dedupe, npx sort-package-json

fix: dep overrides
  .mocharc.yml
  package-lock.json
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

fix: build w/ data v3
  .github/workflows/build.yaml
  .github/workflows/regression.yaml
  .github/workflows/release.yaml
  .github/workflows/static.yaml
Due: prettier --write

Notes added by 'git notes add'
  b250fd5598575309939bfc055e8b70ba7c79e05a
Due: none

fix: augments better matching
  build/parser.mjs
  data/cache/.export.json
  data/cache/.images.json
  data/img/tauron-prime-hood-(operator)-6399ef7dd3.png
  test/index.spec.mjs
Due: prettier --write

fix: augments better matching (#766)
  build/parser.mjs
  data/cache/.export.json
  data/cache/.images.json
  data/img/tauron-prime-hood-(operator)-6399ef7dd3.png
  test/index.spec.mjs
Due: prettier --write

Path conditions:
  eslint --cache --fix: any of: *.js
  npm test: any of: *.js
  prettier --write: (any of: package*.json) or (any of: *.{json,yml,yaml})
  npm dedupe: any of: package*.json
  npx sort-package-json: any of: package*.json
