Repository WFCD/warframe-items: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, npm test, prettier --write, npm dedupe, npx sort-package-json

.lintstagedrc.yml:

'*.js':
  - eslint --cache --fix
  - npm test
package*.json:
  - prettier --write
  - npm dedupe
  - npx sort-package-json
'*.{json,yml,yaml}':
  - prettier --write

fix: pass the wikia title on `Expletive`
  build/parser.ts
Due: none

chore: minified honoria
  data/json/Honoria.json
Due: prettier --write

chore: forgot how to enum
  build/wikia/transformers/transformHonoria.ts
Due: none

fix: add complementary honoria data from wikia (#997)
  build/parser.ts
  build/scraper.ts
  build/types/shared.ts
  build/wikia/scrapers/HonoriaScraper.ts
  build/wikia/transformers/transformHonoria.ts
  config/itemTypes.json
  data/json/Honoria.json
  data/warnings.json
  index.d.ts
Due: prettier --write

Notes added by 'git notes add'
  b5675952bf3da5bc0c568d6ce388830d7979c09a
Due: none

fix(items): new items
  package-lock.json
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  22f7aae3f017f1a75b5add5784a452d4d24a33a1
Due: none

Notes added by 'git notes add'
  b27dee3d0b9d6d18419699eda5f7e4813a05644b
Due: none

Notes added by 'git notes add'
  58f101b0fb1d76c8f6a97dea6d4c1e8ebd0d204a
Due: none

Notes added by 'git notes add'
  e7014f1871941916fd89eb622e736b55c7f95320
Due: none

Notes added by 'git notes add'
  859cb0a7f290fd3dd8e8e4a93859e8eada48410b
Due: none

feat: separate component catalog
  README.md
  build/build.ts
  build/parser.ts
  build/types/shared.ts
  index.d.ts
  index.js
  index.mjs
  test/index.spec.mjs
  test/parser.components.spec.mjs
  test/utilities/find.spec.mjs
  utilities/find.mjs
  utilities/index.d.ts
  utilities/index.mjs
  utilities/resolveComponents.js
  utilities/resolveComponents.mjs
Due: eslint --cache --fix, npm test

chore: lint cleanups
  build/parser.ts
  index.d.ts
  utilities/resolveComponents.js
  utilities/resolveComponents.mjs
Due: eslint --cache --fix, npm test

fix: updates for commas, type refs
  build/build.ts
  build/eslint.config.ts
  build/network.ts
  build/parser.ts
  build/progress.ts
  build/proxyAgent.ts
  build/scraper.ts
  build/tradable.ts
  build/types/shared.ts
  build/wikia/WikiaDataScraper.ts
  build/wikia/transformers/elements.ts
  build/wikia/transformers/polarities.ts
  build/wikia/transformers/transformArcanes.ts
  build/wikia/transformers/transformCompanion.ts
  build/wikia/transformers/transformHonoria.ts
  build/wikia/transformers/transformMod.ts
  build/wikia/transformers/transformNecramech.ts
  build/wikia/transformers/transformVersion.ts
  build/wikia/transformers/transformWarframe.ts
  build/wikia/transformers/transformWeapon.ts
  build/wikia/transformers/transformerArchwing.ts
  eslint.config.ts
  index.js
  index.mjs
  test/build.integrity.spec.mjs
  test/fixtures/wikia.fixture.mjs
  test/index.regression.spec.mjs
  test/index.spec.mjs
  test/parser.components.spec.mjs
  test/parser.damage.spec.mjs
  test/parser.wikia.spec.mjs
  test/utilities/find.spec.mjs
  utilities/Pixel.mjs
  utilities/colors.mjs
  utilities/find.mjs
  utilities/resolveComponents.js
  utilities/resolveComponents.mjs
Due: eslint --cache --fix, npm test

chore: generate data
  data/json/Arcanes.json
  data/json/Archwing.json
  data/json/Components.json
  data/json/Fish.json
  data/json/Quests.json
  data/warnings.json
Due: prettier --write

fix: types
  index.d.ts
Due: none

fix: image resolution
  build/build.ts
Due: none

test: more coverage
  index.js
  index.mjs
  test/index.spec.mjs
  test/utilities/resolveComponents.spec.mjs
Due: eslint --cache --fix, npm test

chore: coverage + missing release dates
  index.d.ts
  index.js
  index.mjs
  test/build.integrity.spec.mjs
  test/index.spec.mjs
Due: eslint --cache --fix, npm test

chore: typings
  index.d.ts
Due: none

fix(items): new items
  README.md
  data/cache/.export.json
  data/json/Components.json
  data/json/Melee.json
  data/json/Misc.json
  data/json/Primary.json
  data/json/Relics.json
  data/json/Resources.json
  data/json/Secondary.json
  data/json/Skins.json
  data/json/Warframes.json
  data/json/i18n/de.json
  data/json/i18n/es.json
  data/json/i18n/fr.json
  data/json/i18n/it.json
  data/json/i18n/ja.json
  data/json/i18n/ko.json
  data/json/i18n/pl.json
  data/json/i18n/pt.json
  data/json/i18n/ru.json
  data/json/i18n/tc.json
  data/json/i18n/th.json
  data/json/i18n/tr.json
  data/json/i18n/uk.json
  data/json/i18n/zh.json
  data/warnings.json
Due: prettier --write

fix(items): new items
  data/json/Melee.json
  data/json/Misc.json
  data/json/Resources.json
  data/json/i18n/de.json
  data/json/i18n/es.json
  data/json/i18n/fr.json
  data/json/i18n/it.json
  data/json/i18n/ja.json
  data/json/i18n/ko.json
  data/json/i18n/pl.json
  data/json/i18n/pt.json
  data/json/i18n/ru.json
  data/json/i18n/tc.json
  data/json/i18n/th.json
  data/json/i18n/tr.json
  data/json/i18n/uk.json
  data/json/i18n/zh.json
  data/warnings.json
Due: prettier --write

Notes added by 'git notes add'
  46c182dd1c9dd8bdfb0d8da51b96e8ea3f37b2b6
Due: none

fix(items): new items
  data/cache/.export.json
  data/json/Misc.json
  data/json/Primary.json
  data/json/Resources.json
  data/json/Secondary.json
  data/json/i18n/de.json
  data/json/i18n/es.json
  data/json/i18n/fr.json
  data/json/i18n/it.json
  data/json/i18n/ja.json
  data/json/i18n/ko.json
  data/json/i18n/pl.json
  data/json/i18n/pt.json
  data/json/i18n/ru.json
  data/json/i18n/tc.json
  data/json/i18n/th.json
  data/json/i18n/tr.json
  data/json/i18n/uk.json
  data/json/i18n/zh.json
Due: prettier --write

Notes added by 'git notes add'
  a66dd0e4d0f80787051093c7c610e99d386be257
Due: none

fix(items): new items
  data/cache/.export.json
  data/json/Honoria.json
  data/json/Misc.json
  data/json/Mods.json
  data/json/Resources.json
  data/json/i18n/de.json
  data/json/i18n/es.json
  data/json/i18n/fr.json
  data/json/i18n/it.json
  data/json/i18n/ja.json
  data/json/i18n/ko.json
  data/json/i18n/pl.json
  data/json/i18n/pt.json
  data/json/i18n/ru.json
  data/json/i18n/tc.json
  data/json/i18n/th.json
  data/json/i18n/tr.json
  data/json/i18n/uk.json
  data/json/i18n/zh.json
  data/warnings.json
Due: prettier --write

Notes added by 'git notes add'
  f325a9a1f48527eaa3e80bb1cad435e4ee3f3836
Due: none

fix(items): new items
  README.md
  data/cache/.export.json
  data/json/i18n/de.json
  data/json/i18n/es.json
  data/json/i18n/fr.json
  data/json/i18n/it.json
  data/json/i18n/ja.json
  data/json/i18n/ko.json
  data/json/i18n/pl.json
  data/json/i18n/pt.json
  data/json/i18n/ru.json
  data/json/i18n/tc.json
  data/json/i18n/th.json
  data/json/i18n/tr.json
  data/json/i18n/uk.json
  data/json/i18n/zh.json
  package-lock.json
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  0a77f3f30926affa8567f6bd7b4d7837cde3b4ea
Due: none
