Repository WFCD/warframe-items: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, npm test, prettier --write, npm dedupe, npx sort-package-json

.lintstagedrc.yml:

'*.js':
  - eslint --cache --fix
  - npm test
package*.json:
  - prettier --write
  - npm dedupe
  - npx sort-package-json
'*.{json,yml,yaml}':
  - prettier --write

Notes added by 'git notes add'
  4f2b692ee819048c2c7a39171cc7b8747d3dcfc3
Due: none

fix(items): new items
  package-lock.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  56f574a0c1a53e4267632c3598eb586ce10e44bf
Due: none

Notes added by 'git notes add'
  7fcf1e486cb58fddd0005e0fe22aa238066398be
Due: none

fix(items): new items
  package-lock.json
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  17fc2a0f69becf386e55618269d0b206428b9bcd
Due: none

Notes added by 'git notes add'
  4deb4d61bd520b6d897915b24a45c20fc5645dce
Due: none

fix(typings): eterna types
  index.d.ts
  package-lock.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  9877fa9fa2c9ac7e70c2e4c08685a6239fc87e26
Due: none

Notes added by 'git notes add'
  36728b93c8b86210a4263ca5fe29e2a800dedf78
Due: none

chore: group dependabot updates
  .github/dependabot.yml
Due: prettier --write
