Repository WFCD/warframe-items: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, npm test, prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  e65b88f7905cf73cab5777606f59d82283ef27dd
Due: none

fix(items): new items
  package-lock.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  655eebe47378ef3aa4612995aedf6119d5d611b6
Due: none

Notes added by 'git notes add'
  cd0222d78be62d79a14e4debc7d3981dc72e336c
Due: none

Notes added by 'git notes add'
  f93c2369c13af1de35bb1ef2d67ec34ccf3a5b7b
Due: none

Notes added by 'git notes add'
  eee396145734c0849da20223aba24ea23ceb3b34
Due: none

Notes added by 'git notes add'
  1d8eba6eaef9f44a58f85798d3b9d601540e25ee
Due: none

Notes added by 'git notes add'
  3210731323ae5159e26a382081b076c90aa75ad5
Due: none

ci: just lint PR title
  .github/workflows/static.yaml
Due: prettier --write

ci: just lint PR title (#711)
  .github/workflows/static.yaml
Due: prettier --write

Notes added by 'git notes add'
  ecf2a18f4063c632490c1fd8a6d271dd59bf2647
Due: none

Notes added by 'git notes add'
  63db5094869dd4b0e59b60a92babc2a6641e2481
Due: none

Notes added by 'git notes add'
  d69acbbc00a27c283897cde912a27731fffd5c5a
Due: none

Notes added by 'git notes add'
  ffea3e6a9b13be9a5c80cd9505a0768def96bbf4
Due: none

Path conditions:
  eslint --cache --fix: any of: *.js
  npm test: any of: *.js
  prettier --write: (any of: package*.json) or (any of: *.{json,yml,yaml})
  npm dedupe: any of: package*.json
  npx sort-package-json: any of: package*.json
