Repository WFCD/warframe-items: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, npm test, prettier --write, npm dedupe, npx sort-package-json

.lintstagedrc.yml:

'*.js':
  - eslint --cache --fix
  - npm test
package*.json:
  - prettier --write
  - npm dedupe
  - npx sort-package-json
'*.{json,yml,yaml}':
  - prettier --write

Notes added by 'git notes add'
  1cb531b1a67e55daa40af1cec02e0de851cb8c27
Due: none

fix: prevent dup nightwave icons
  build/build.mjs
  build/parser.mjs
Due: none

chore: lint fix
  build/build.mjs
Due: none

feat: parse nightwave acts
  build/scraper.mjs
  config/itemTypes.json
Due: prettier --write

chore: undo drops bypass
  build/scraper.mjs
Due: none

fix: skip drops and patchlogs for nightwave challenges
  build/parser.mjs
Due: none

fix: add nightwave challenge interface
  index.d.ts
Due: none

chore: rename `Nightwave Act` to `Nightwave Challenge` to make it more consitent
  build/parser.mjs
  config/itemTypes.json
  index.d.ts
Due: prettier --write

chore: `===` instead of `==`
  build/parser.mjs
Due: none

Notes added by 'git notes add'
  2eb4ba00aa5e92767804decd144acd097aa4e18e
Due: none

fix(items): new items
  package-lock.json
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  92ba9a959911de66d31f43517627bf5d67a58af5
Due: none

fix: trusted publishing
  .github/workflows/release.yaml
  .releaserc.yaml
Due: prettier --write

Notes added by 'git notes add'
  d0a48cdc52ca5f3d9f841159914d1716f8dd9d6a
Due: none

Notes added by 'git notes add'
  5018402fd359e2e1ba603c13baf4f776fee72e71
Due: none

Notes added by 'git notes add'
  1bddfc57d16ed8e74a27c36f0d7ccb148b4fad86
Due: none
