Repository WFCD/warframe-items: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, npm test, prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  9d65cd3586dfd04192bdfd18de188a7aa1abd295
Due: none

fix(items): new items
  package-lock.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  bcfa8ce1a84a8821e0264fe036192e006166c672
Due: none

Notes added by 'git notes add'
  cf9d3ce8a360d3aa76b34fc07e1a3dc3fa383699
Due: none

Notes added by 'git notes add'
  b6e8dd2d0f4a7c12324bc786c00558fe0f2f3e4f
Due: none

fix(relics): use refinement-specific drop rates from drops API
  build/parser.mjs
  test/index.spec.mjs
Due: none

fix: relic refinement drop rates (#796)
  build/parser.mjs
  test/index.spec.mjs
Due: none

Notes added by 'git notes add'
  1fcf8fb6ce0c6988a6a5fb17b154febf5e0fe83c
Due: none

ci: add required env vars
  .github/workflows/build.yaml
  .github/workflows/static.yaml
Due: prettier --write

ci: formatting
  .github/workflows/build.yaml
  .github/workflows/static.yaml
Due: prettier --write

ci: regen package lock
  package-lock.json
Due: prettier --write, npm dedupe, npx sort-package-json

ci: try static w/o proxy
  .github/workflows/static.yaml
Due: prettier --write

ci: try static w/o bypass
  .github/workflows/static.yaml
Due: prettier --write

ci: restore bypass on static
  .github/workflows/static.yaml
Due: prettier --write

ci: clean up excess inputs
  build/network.mjs
  build/scraper.mjs
Due: none

ci: headers for ua
  build/network.mjs
Due: none

ci: different ua
  build/.eslintrc.yaml
  build/network.mjs
Due: prettier --write

ci: try w/o bypass
  .github/workflows/static.yaml
Due: prettier --write

ci: no more bypass
  .github/workflows/build.yaml
  .github/workflows/static.yaml
Due: prettier --write

Notes added by 'git notes add'
  e9a8bcb5d79ed7d57ef4cb88a8391e5c04456101
Due: none

Notes added by 'git notes add'
  770dda902bc9572d2de47d1342d6752e481181fb
Due: none

Path conditions:
  eslint --cache --fix: any of: *.js
  npm test: any of: *.js
  prettier --write: (any of: package*.json) or (any of: *.{json,yml,yaml})
  npm dedupe: any of: package*.json
  npx sort-package-json: any of: package*.json
