Repository WFCD/warframe-items: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, npm test, prettier --write, npm dedupe, npx sort-package-json

.lintstagedrc.yml:

'*.js':
  - eslint --cache --fix
  - npm test
package*.json:
  - prettier --write
  - npm dedupe
  - npx sort-package-json
'*.{json,yml,yaml}':
  - prettier --write

Notes added by 'git notes add'
  2934f9b4206745f0dd586fe0990d043c5d44ba7b
Due: none

fix(items): new items
  package-lock.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  923a780d69911c578b343a8c7cf0c2dd2f7bb0c4
Due: none

Notes added by 'git notes add'
  e15adef6e35212bcf0386f0a1f59ee722257b91a
Due: none

Notes added by 'git notes add'
  583709941fe86e6d7c616d34795f9af57335de26
Due: none

Notes added by 'git notes add'
  4456992c2a01797fe164b712862680755ae19d5e
Due: none

Notes added by 'git notes add'
  8d921789d757859e1b0362b24437e5c67b821afc
Due: none

Notes added by 'git notes add'
  41c34b2cf86ca13a6633ac8362fe0dbaf9ff808b
Due: none

Notes added by 'git notes add'
  1533ef9fb798f82afd4bfdad0fa333f0ab40760a
Due: none

Notes added by 'git notes add'
  491ec074aeff8bcf4efdd6a1598901e255735068
Due: none

fix: amanata pressure type
  config/itemTypes.json
  data/warnings.json
  index.d.ts
Due: prettier --write

fix: amanata pressure type (#633)
  config/itemTypes.json
  data/warnings.json
  index.d.ts
Due: prettier --write

chore: lint
  build/build.mjs
Due: none

fix: generate a SHA-256 hash from image
  build/build.mjs
  data/cache/.images.json
Due: prettier --write

chore: remove items cached during debug
  data/cache/.images.json
Due: prettier --write
