Repository WFCD/warframe-items: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, npm test, prettier --write, npm dedupe, npx sort-package-json

.lintstagedrc.yml:

'*.js':
  - eslint --cache --fix
  - npm test
package*.json:
  - prettier --write
  - npm dedupe
  - npx sort-package-json
'*.{json,yml,yaml}':
  - prettier --write

Notes added by 'git notes add'
  195fa8188c39f4ccd7aad72d0649f4a3106456eb
Due: none

fix(parser): map damagePerShot puncture/slash in DE order
  build/parser.ts
  config/damageTypes.json
  test/parser.damage.spec.mjs
Due: prettier --write

fix(parser): map damagePerShot puncture/slash in DE order (#989)
  build/parser.ts
  config/damageTypes.json
  test/parser.damage.spec.mjs
Due: prettier --write

Notes added by 'git notes add'
  62c3ae2b08f3b4e45e366a9d2a2aad436b1769e8
Due: none

fix(items): new items
  package-lock.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  41223e7b19ca31199e35a42c7207de7dc648c2d3
Due: none

Notes added by 'git notes add'
  2210503a7b08b9599d518520a8f22aec66868ff7
Due: none

feat: separate component catalog
  README.md
  build/build.ts
  build/parser.ts
  build/types/shared.ts
  index.d.ts
  index.js
  index.mjs
  test/index.spec.mjs
  test/parser.components.spec.mjs
  test/utilities/find.spec.mjs
  utilities/find.mjs
  utilities/index.d.ts
  utilities/index.mjs
  utilities/resolveComponents.js
  utilities/resolveComponents.mjs
Due: eslint --cache --fix, npm test

chore: lint cleanups
  build/parser.ts
  index.d.ts
  utilities/resolveComponents.js
  utilities/resolveComponents.mjs
Due: eslint --cache --fix, npm test

fix: add scraper for necramechs and weapon exception for Dark Split-Sword in weapon transformer
  build/scraper.ts
  build/types/shared.ts
  build/wikia/scrapers/NecramechScraper.ts
  build/wikia/transformers/transformNecramech.ts
  build/wikia/transformers/transformWeapon.ts
  test/index.spec.mjs
Due: none

fix: correct scraper tick bar number and add length verification to new tests
  build/scraper.ts
  test/index.spec.mjs
Due: none

style: check style better
  .github/ISSUE_TEMPLATE/BUG-REPORT.yaml
  .github/dependabot.yml
  .github/workflows/build.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/regression.yaml
  .github/workflows/release.yaml
  .github/workflows/static.yaml
  .lintstagedrc.mjs
  .lintstagedrc.yml
  .prettierrc.mjs
  .releaserc.yaml
  CONTRIBUTING.md
  build/build.ts
  build/network.ts
  build/parser.ts
  build/scraper.ts
  build/stringify.ts
  build/tradable.ts
  build/wikia/scrapers/VaultScraper.ts
  build/wikia/transformers/transformCompanion.ts
  build/wikia/transformers/transformWarframe.ts
  config/dt_map.json
  config/locales.json
  config/masterableCategories.json
  data/logo.json
  data/warnings.json
  eslint.config.ts
  index.d.ts
  package-lock.json
  package.json
  test/index.spec.mjs
  test/utilities/title.spec.mjs
  utilities/index.d.ts
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  e754da2d337eeaea93773e63cb25e94422567363
Due: none

fix: convert in-code wikiaName override to wikiaNameOverrides.json
  build/scraper.ts
  build/wikia/transformers/transformWeapon.ts
  config/wikiaNameOverrides.json
Due: prettier --write

fix: scraper for necramech, wiki exception Dark Split-Sword (#993)
  build/parser.ts
  build/scraper.ts
  build/types/shared.ts
  build/wikia/scrapers/NecramechScraper.ts
  build/wikia/transformers/transformNecramech.ts
  config/itemTypes.json
  config/wikiaNameOverrides.json
  index.d.ts
  test/index.spec.mjs
Due: prettier --write

Notes added by 'git notes add'
  65cabbffef263e81555d1acaac4e24a81e05449b
Due: none

Notes added by 'git notes add'
  298305e17b04a6e5d83690f52c748a0a27110029
Due: none

Notes added by 'git notes add'
  bbd4100421de773a1eab3825f9a9da6e5f03b3cc
Due: none

fix: add complementary information from wikia for honorias
  build/parser.ts
  build/scraper.ts
  build/types/shared.ts
  build/wikia/scrapers/HonoriaScraper.ts
  build/wikia/transformers/transformHonoria.ts
  config/itemTypes.json
  data/json/Honorias.json
  data/warnings.json
  index.d.ts
Due: prettier --write

chore: words are hard sometiimes
  build/parser.ts
  build/scraper.ts
  build/types/shared.ts
  build/wikia/scrapers/HonoriaScraper.ts
  build/wikia/transformers/transformHonoria.ts
  config/itemTypes.json
  index.d.ts
Due: prettier --write

chore: even I ddin't like that
  build/types/shared.ts
Due: none

chore: rename `Honoria` data file
  data/json/Honoria.json
  data/json/Honorias.json
Due: prettier --write

fix: pass the wikia title on `Expletive`
  build/parser.ts
Due: none

fix(items): new items
  package-lock.json
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  fc6ca447976aa713c8fcddb7f74ffd8bb41af431
Due: none

fix: sanitize and passthorugh wikia desc as req
  build/parser.ts
  build/types/shared.ts
  build/wikia/transformers/transformHonoria.ts
  config/itemTypes.json
  index.d.ts
Due: prettier --write

chore: update honoria data
  data/json/Honoria.json
Due: prettier --write

chore: one last `honorias`
  build/parser.ts
Due: none
